//  =============== Variables =============== //

// Fonts
$primary-font: Inria Sans;
$secondary-font: Barlow Condensed;

// Sizes
$content-width: 1200px;

// Colors
$color-primary: #ffffff;
$color-secondary: #e8ab36;
$color-grey: rgba(255, 255, 255, 0.5);
$color-accent: #cc0000;
$color-grayish: #efefef;
