//  =============== Variables =============== //

// Fonts
$primary-font: Inria Sans;
$secondary-font: Barlow Condensed;

// Sizes
$content-width: 1080px;

// Colors
$color-primary: #ffffff;
$color-secondary: #e9e9e9;
$color-accent: #cc0000;
$color-grey: rgba(255, 255, 255, 0.5);
$color-grayish: #efefef;

// ====================== Mixins ============ //
// Fonts
@mixin accent-font {
   font-size: 20px;
   font-weight: 700;
}
@mixin secondary-font {
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.42px;
   font-style: normal;
   text-transform: uppercase;
}
