// === Menu ===

.menu {
   position: relative;
   display: none;
   padding: 10px;
   right: 20px;
}

@media (max-width: 768px) {
   .logo {
      font-weight: 600 !important;
      font-size: 30px !important;
   }
   .menu {
      display: block;
      .material-symbols-outlined {
         font-size: 33px;
      }
   }
   .navbar {
      padding: 20px;
      position: fixed;
      right: -100%;
      height: 100%;
      top: 0;
      z-index: 100;
      background: rgba(0, 0, 0, 0.8);
      width: 200px;
      transition: all 0.5s ease;
      ul {
         display: flex;
         flex-direction: column;
      }
      a {
         font-size: 14px;
      }
   }
   .menu:focus + .navbar {
      right: 0;
   }
   #search {
      width: 200px !important;
      height: 40px !important;
      text-align: center !important;
      padding: 2px 5px !important;
   }
   .search-btn {
      width: 44px !important;
      height: 40px !important;
      text-align: center !important;
      padding: 2px 5px !important;
   }
   .genres-menu {
      display: inline-flex !important;
      flex-wrap: wrap !important;
   }
   .footer-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   h2 {
      margin-top: 15px;
   }
}

@media (max-width: 550px) {
   .menu > .material-symbols-outlined {
      font-size: 24px;
   }
   #search {
      max-width: 176px !important;
      max-height: 33px !important;
      text-align: center !important;
      padding: 2px 5px !important;
   }
   .search-btn {
      width: 44px !important;
      height: 33px !important;
      text-align: center !important;
      padding: 2px 5px !important;
   }
   .logo {
      font-weight: 400 !important;
      font-size: 20px !important;
   }
   .genres-menu {
      ul {
         @include mini-font;
         display: inline-flex !important;
         flex-wrap: wrap !important;
      }
   }
   h2 {
      @include mini-font;
      margin-top: 15px;
   }
   .movie-modal {
      width: 500px !important;
      height: 100% !important;
      overflow: auto;
      margin: 0 auto !important;

      .movie-modal-container {
         display: flex;
         flex-direction: column;
         align-items: center !important;
         margin: 140px 0 !important;

         .movie-modal-img {
            height: 100%;
            box-shadow: 0 0 1px 1px white;
            width: 170px;
            height: 290px;
            img {
               width: 100%;
            }
         }
         .movie-modal-text {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 10px;
            .movie-modal-rate {
               display: flex;
               flex-direction: column;
            }
         }
      }
   }
}
