.modal-wraper {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 11;
   .movie-modal {
      width: 752px;
      height: 526px;
      position: relative;
      background: #000;
      margin: 87px auto;
      justify-items: center;
      top: 2%;
      .close-btn {
         position: absolute;
         padding: 15px;
         z-index: 100;
         cursor: pointer;
      }

      .movie-modal-container {
         // border: 2px solid red;
         display: flex;
         position: absolute;
         top: 52%;
         left: 50%;
         transform: translate(-50%, -50%);
         padding: 10px;
         flex-grow: 1;
         gap: 50px;
         margin: 0 auto;
         background: rgba(0, 0, 0, 0.5);
         .movie-modal-img {
            height: 100%;
            box-shadow: 0 0 1px 1px white;
            width: 234px;
            height: 351px;
            img {
               width: 100%;
            }
         }

         .movie-modal-text {
            width: 292px;
            // border: 2px solid red;
            flex-grow: 1;
            overflow: auto;
            /*  .movie-modal-text:not(.movie-modal-title) {
               display: flex;
               justify-content: space-between;
            } */
            .movie-modal-title {
               text-transform: uppercase;
               @include accent-font;
               color: $color-accent;
               letter-spacing: 0.6px;
            }
            .movie-modal-rate {
               display: flex;
               align-items: center;
               gap: 3px;
               svg {
                  height: 21px;
                  width: 21px;
               }
               span {
                  font-size: 20px;
                  font-weight: 700;
                  color: $color-accent;
               }
            }
            .movie-modal-rate,
            .movie-modal-genres {
               margin: 12px 0;
            }
            .movie-modal-genres,
            .movie-modal-year {
               color: $color-secondary;
               @include secondary-font;
            }
            .movie-modal-overview {
               margin-bottom: 20px;
               height: 250px;
               overflow: auto;
               &::-webkit-scrollbar {
                  width: 5px;
                  border-radius: 3px;
               }
               &::-webkit-scrollbar-track {
                  background: #ffffff;
                  border-radius: 10px;
               }

               /* Handle */
               &::-webkit-scrollbar-thumb {
                  background: #bdbdbd;
                  border-radius: 10px;
                  &:hover {
                     background: $color-accent;
                  }
               }
            }
         }
      }
   }
}
