.signin-wraper {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 11;
   button {
      cursor: pointer;
   }

   .signin-modal {
      width: 410px;
      height: 608px;
      position: relative;
      background: #000;
      margin: 87px auto;
      justify-items: center;
      .close-btn {
         position: absolute;
         padding: 15px;
         z-index: 100;
         cursor: pointer;
         color: $color-primary;
         font-weight: 100;
      }

      .signin-modal-container {
         outline-style: none;
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         padding: 60px;
         gap: 30px;
         margin: 0 auto;
         background: #000;
         * {
            border: none;
         }
         .button-div {
            width: 288px;
            height: 54px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            .signup-button,
            .login-button {
               width: 144px;
               height: 54px;
               text-align: center;
               @include reg-btns;
               border: none;
               outline-style: none;
               background: transparent;
            }
            .signup-button:not(.red),
            .login-button:not(.red) {
               box-shadow: 0 0 1px 1px white;
            }
            .signup-button {
               @include radius-left;
            }
            .login-button {
               @include radius-right;
            }
            .red {
               background-color: $color-accent;
               color: $color-primary;
            }
         }
         input {
            width: 288px;
            height: 44px;
            outline-style: none;
            border-radius: 7px;
            padding: 10px 20px;
            font-size: 18px;
            &:focus::placeholder {
               color: rgba(52, 63, 77, 0.5);
            }
            [type="text"]:focus {
               @include small-font;
               color: black;
            }
         }
         .checkbox {
            @include small-font;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            input {
               width: 18px;
               height: 18px;
               margin-right: 9px;
            }
            #chkb {
               accent-color: $color-accent;
               border-radius: 50%;
            }
            input[type="checkbox"] {
               clip-path: circle(50% at 50% 50%);
            }
         }

         .bottom-btn {
            width: 288px;
            height: 47px;
            border-radius: 8px;
            @include reg-btns-bottom;
         }
         .form-link {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include small-font;
            a {
               color: $color-accent;
               margin-right: 4px;
            }
            span {
               letter-spacing: 1px;
            }
         }
      }
   }
}
