.swiper {
   // border: 1px solid green;
   width: 100%;
   height: 351px;
   margin: 0 10px;
   .swiper-slide {
      position: relative;
      cursor: pointer;
      .material-symbols-outlined {
         font-weight: 700;
      }
   }
   .swiper-slide img {
      object-fit: contain;
      width: 100%;
   }
}

.container {
   display: flex;
   align-items: center;
}

.card-hover {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 30px;
   top: 0;
   left: 0;
   position: absolute;
   transition: opacity 0.2s ease-in;
   opacity: 0;
   background: rgba(0, 0, 0, 0.7);
   &:hover {
      opacity: 1;
   }
   .movie-title {
      @include accent-font;
      color: #fff;
      margin-top: 20px;
   }
   .movie-year {
      @include accent-font;
      color: #b0b0b0;
      margin: 23px;
   }
   .movie-genres {
      font-size: 14px;
      font-weight: 500;
   }
   svg {
      width: 35px;
      height: 34px;
      margin-top: 23px;
   }
   .movie-rate {
      font-size: 32px;
      color: $color-accent;
   }
}
.card-hover * {
   display: block !important;
   text-align: center;
}
/* .card-hover > *:not(.movie-rate) {
   color: blue;
   margin: 20px;
} */

.material-symbols-outlined {
   cursor: pointer;
}

.swiper-button-disabled {
   color: rgb(118, 113, 113);
}
